<div class="container">
    <mat-card>
        <mat-card-content>
            <p>
                <img class="logo" src="assets/Bloomen-Logo-on-website-300x115.png" alt="angular logo" />
            </p>
        </mat-card-content>
    </mat-card>

    <mat-tab-group>
        <mat-tab label="Claims">
            <div *ngFor="let c of claims">
                  <mat-card class="item-card">
                    <mat-card-header class="header">
                        <img class="avatar" mat-card-avatar src="../../assets/file-png-image-59234.png">
                        <mat-card-title class="title"><b>Song Title:</b> {{c.song.name}}</mat-card-title>
                        <button mat-icon-button >

                        </button>
                    </mat-card-header>
                    <mat-card-content class="content">
                      <b>Song Author:</b> {{c.song.description}} <br/>
                      <b>Song Description:</b> {{c.song.description}} <br/>
                      <b>Claim identificator:</b> {{c.data.issueId}} <br/>
                      <b>Claim Description:</b> {{c.data.description}} <br/>
                    </mat-card-content>
                  </mat-card>
            </div>
        </mat-tab>
        <mat-tab label="Tasks">
            <div *ngFor="let t of tasks">
                <mat-card class="item-card">
                    <mat-card-header class="header">
                        <img class="avatar" mat-card-avatar src="../../assets/task.png">
                        <mat-card-title class="title"><b>Claim identificator:</b> {{t.issueId}}</mat-card-title>
                        <button mat-icon-button (click)="putTask(t.issueId, t.from, t.to)">
                            <mat-icon>reply</mat-icon>
                        </button>

                    </mat-card-header>
                    <mat-card-content class="content">
                      <b>Task Description:</b> {{t.description}} <br/>
                    </mat-card-content>
                  </mat-card>
            </div>
        </mat-tab>
    </mat-tab-group>

    <mat-card class="spinner" *ngIf="isLoading">
        <mat-spinner></mat-spinner>
    </mat-card>
</div>
