<div class="dialog">
    <h1 mat-dialog-title> Descriptions </h1>
    <mat-dialog-content class="example-container">
        <form (ngSubmit)="onSubmit()" #claimsForm="ngForm">
            <div>
                <mat-form-field>
                    <textarea matInput rows="4" cols="50" id="reasons" required [(ngModel)]="reasons" name="name" #name="ngModel" 
                    placeholder="Insert the description"> </textarea>
                </mat-form-field>
            </div>
            <mat-dialog-actions>
                <button mat-raised-button type="button" (click)="close()"> Close </button>
                <button mat-raised-button type="submit" [disabled]="!claimsForm.form.valid" (click)="putTask()"> Submit </button>
            </mat-dialog-actions>
        </form>
        <br>
    </mat-dialog-content>
</div>