<div class="container">
  <mat-card>
    <p>
      <img class="logo" src="assets/Bloomen-Logo-on-website-300x115.png" alt="angular logo"/>
    </p>
    <mat-card-content>
            <form>
                <mat-form-field>
                    <input #searchname matInput [(ngModel)]="valor" name="name" #ctrl="ngModel" placeholder="SearchName" type="text" (keyup)="checkinput()">
                </mat-form-field>
                <button mat-icon-button (click)="getStoriesInput()">
                    <mat-icon>search</mat-icon>
                </button>
            </form>
    </mat-card-content>
  </mat-card>

  <div appInfiniteScroller scrollPercent="70" [immediateCallback]="false" [scrollCallback]="scrollCallback" class="scroll" style="height:525px;">
    <div *ngFor="let song of songs">
      <mat-card class="item-card">
        <mat-card-header class="header">
            <img class="avatar" mat-card-avatar src="assets/600px-Simple_Music.svg_.png">
            <mat-card-title class="title"><b>Title:</b> {{song.name}}</mat-card-title>
            <button mat-icon-button [disabled]="!isnotmine(song.assetOwner)" (click)="postClaim(song.assetId, song.assetOwner)">
              <mat-icon class="icon" *ngIf="isnotmine(song.assetOwner)">change_history</mat-icon>
            </button>
        </mat-card-header>
        <mat-card-content class="content">
          <b>Description:</b> {{song.description}} <br/>
          <b>Author:</b> {{song.author}} <br/>
        </mat-card-content>
      </mat-card>
    </div>

    <mat-card class="spinner" *ngIf="isLoading">
        <mat-spinner></mat-spinner>
    </mat-card>

  </div>
</div>
<div>
    <button class="fab" mat-fab (click)="addRegistry()">
      <mat-icon>add</mat-icon>
    </button>
</div>
